#lista-programas{
    table{
        td{
            li{
                margin-left: 18px;
            }
        }
    }
}

#rangos-fechas{
	.dropdown-toggle{
		padding-bottom: 13px;
	}
}

#mytabs {
	#tab1{
		height: 89em !important;
	}
}


.bs-docs-archivos:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0;
    color: #9DA0A4;
    content: "Archivos";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.bs-docs-archivos {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin: 15px 0;
    padding: 39px 19px 14px;
    position: relative;
}

.bs-docs-archivos{
	input[type="file"]{
		display:block;
	}
}